# pip install APScheduler and add this to your requirements.txt file

APScheduler==3.0.0
iso8601==0.1.12
tinydb==3.7.0
redis==2.10.6
rq==0.9.2
certifi==2017.4.17
chardet==3.0.4
click==6.7
cloudpickle==0.2.1
dash-core-components==0.11.1
dash-html-components==0.7.0
dash-renderer==0.7.4
dash==0.17.7
dask==0.15.0
decorator==4.0.11
enum34==1.1.6
Flask==0.12.2
Flask-Compress==1.4.0
Flask-SeaSurf==0.2.2
Flask-Caching==1.3.2
gunicorn==19.6.0
idna==2.5
ipython-genutils==0.2.0
itsdangerous==0.24
Jinja2==2.9.6
jsonschema==2.6.0
jupyter-core==4.3.0
MarkupSafe==1.0
nbformat==4.3.0
numpy==1.11.3
plotly==2.0.10
python-dateutil==2.6.0
pytz==2017.2
requests==2.18.1
requests-file==1.4.2
requests-ftp==0.3.1
six==1.10.0
scipy==0.19.1
toolz==0.8.2
traitlets==4.3.2
urllib3==1.21.1
Werkzeug==0.15.3
wheel==0.38.1